@CHARSET "ISO-8859-1";


#editItem_wrapper {
	position: relative;
	width: 90%;
	margin: 0 auto;
	max-width: 800px;
}

#itemLocationBlock{
	display: none;
}

#item_block_data_street{
	display: none;
}

#updateitem_category_path{
	display: none;
}

#item_categories_boxes{
	display: none;
}

.category_selection_box {
	border: 1px #DDD solid;
	margin-right: 10px;
	display: inline-block;
	
	height: 220px;
	overflow-y: scroll;
	width: 220px;
	
	box-shadow: inset 0px 1px 2px 0px #ececed;
}

.category_selection_option, .category_option_selected{
	padding: 7px;
	color: #555;
	padding-left: 20px;
}

.category_selection_option:HOVER, .category_option_selected{
	cursor: pointer;
	background: #71b3e8;
	color: white;
}

#item_block_data_locationButtons{
	display: inline-block;
	margin-left: 110px;
}




#input_item_name{
	width: 70%;
}

























/* Images on the top */
#updateItem_image_scroller {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 60px;
}

.item_block_data {
	margin-bottom: 50px;
	margin-left: 30px;
}

.updateItem_section{
	margin-bottom: 10px;
	
	background-color: white;
	
	border: 1px solid #DDD;
	box-shadow: inset 0px -1px 1px 0px #ddd;
			
	padding: 20px;
}

.update_section_title{
	margin-bottom: 20px;
	color: #C00;
	font-size: 16px;
	font-weight: bold;
}

#updateItem_thumbsLine {
	display: inline-block;
}

.updateItem_imgs_thumbBlock {
	display: inline-block;
	margin: 5px;
}

img.updateItem_imgs_thumb {
	padding: 10px 0px;
	width: 120px;
	height: 100px;
	border: 1px #ddd solid;
	box-shadow: 1px 1px 3px 0px #d4d4d4;
}

.windows_button{
	float: right;
	position: relative;
	right: 22px;
	top: 3px;
}

.updateItem_imgs_delMe {
	padding: 1px 5px;
	
	border: 1px #AAA solid;
	text-shadow: 10px black;
	border-radius: 2px;
	
	font-size: 12px;
	color: #333;
	
	background: #e9e9e2;
}

.updateItem_imgs_delMe:HOVER {
	color: #fc333a;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
}


input#item_input {
	width: 300px;
}

.item_block_data{
	position: relative;
}

#item_name_bubble_wrapper{
	position: relative;
	top: -20px;
	left: 51%;
	width: 250px;
}


.item_input_label {
	color: #333;
	float: left;
	width: 110px;
	text-align: right;
	margin-right: 10px;
	padding-top: 5px;
}

textarea#item_description, textarea#item_conditions {
	width: 70%;
	min-height: 100px;
}

textarea#item_conditions {
	width: 350px;
}

#item_conditions_bubble_wrapper{
	position: absolute;
	top: -10px;
	left: 480px;
	width: 250px;
}

#updateItem_block_address{
	margin-top: 20px;
}



input#item_address {
	width: 30%;
}

#item_address_bubble_wrapper{
	top:-45px;
	left: 470px;
	width: 30%;
}

#updateItem_buttons {
	position: relative;
	float: right;
	top: 20px;
}


#map_canvas{
	position: relative;
	height: 160px;
}


#uploadFilesButton{
	float: left;
	margin: 5px;
}

