@CHARSET "ISO-8859-1";

#bigmap_canvas_wrap{
	height: 500px;
	margin-bottom: 60px;
}

#map_canvas_wrap{
	height: 250px;
	width: 250px;
}

#map_canvas_result {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
}

#map_bigger{
	text-align: center;
	padding: 10px 0px;
	color: #333;
	border: 1px solid #ddd;
	background-color: white;
	width: inherit;
	margin-bottom: 20px;
}

#map_bigger:HOVER{
	cursor: pointer;
	background: #fcfcfc;
	color: black;
}

.filter_section{
	min-height: 50px;
	border-bottom: 1px #dadada solid;
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 20px;
}

.filter_section_place_name{
	color: #777;
	font-size: 12px;
	float: left;
	padding-right: 2px;
}

.filter_section_title{
	color: #c00; 
	font-weight: bold;
	margin-bottom: 5px;
}

.filter_section_place{
	height: 21px;
}


.filter_section_place_name:HOVER{
	color: black;
	cursor: pointer;
}

.filter_section_place_number{
	color: gray;
}

input.filter_prices_input{
	float: left;
	padding: 5px;
	width: 60px;
	margin-right: 3px;
}

input#filter_prices_submit{
	background: white;
	width: 30px;
	color: gray;
}

input#filter_prices_submit:HOVER {
	color: blue;
	cursor: pointer;
}

.filter_section_filterBy{
	background: #f1f8f7;
	margin-bottom: 5px;
	color: #333;
	
	border: 1px solid #EEE;
	border-radius: 5px;
}

.filter_section_filterBy_name{
	padding: 5px;
}

img.filter_section_filterBy_cross{
	float: right;
	padding: 2px;
	opacity: 0.5;
}

img.filter_section_filterBy_cross:HOVER {
	cursor: pointer;
	opacity: 1;
}

#results_count{
	color: #888;
	margin-bottom: 10px;
	background: white;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#sort_block_options{
	float: right;
}

#results_sort_title{
	float: left;
	margin-right: 10px;
}

.results_sort_sep{
	margin-right: 10px;
	float: left;
	color: #ddd;
}

.results_sort_by{
	color: #777;
	margin-right: 10px;
	float: left;
}

.results_sort_by:HOVER {
	color: black;
	cursor: pointer;
}

#results_sort_by_selected{
	font-weight: bold;
	color: #51a351;
}

