@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: small;
}

a img {
	border: none;
}

a {
	text-decoration: none;
}

body {
	background-color: #fcfcfc;
}

strong{
	font-size: inherit;
}

pipe{
	color: #ccc;
}

price{
	color: #c00;
	font-size: inherit;
	font-weight: bold;
}


/*general blocks to all pages*/

#page_container{
	max-width: 980px;
	margin: 20px auto;
}

.block_container{
	padding: 10px;
	border: 1px solid #eee;
	background: white;
}

.block_title{
	font-size: medium;
}







.shd{
	width: 100%;
	border-bottom: 1px solid #fff;
}

#header_logo {
	margin-right: 20px;
	margin-left: 10px;
	float: left;
	top: 5px;
}

#header_logo a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	color: #79f179;
	text-shadow: 0px 0px 6px #eee;
}

lg{
	color: #fff;
	font: inherit;
}

#header_logo a:HOVER {
	cursor: pointer;
}

.general_link_small{
	display: inline-block;
	color: #15C;
}

.general_link_small:HOVER,.general_link:HOVER {
	cursor: pointer;
	text-decoration: underline;
}

.general_link_big {
	font-size: 20px;
	color: #C00;
	font-family: inherit;
}

.general_link_big:HOVER{
	text-decoration: underline;
}

.header_link,#header_user_name {
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 10px;
	width: 150px;
}

.header_top_link{
	float: right;
	position: relative;
	top: 15px;
	color: white;
	margin: 0px 10px;
}

.header_top_link:HOVER{
	cursor: pointer;
	color: red;	
}

.header_link:HOVER,div#header_user_name:HOVER {
	cursor: pointer;
	color: #a5c3f7;
}

img#header_user_img {
	float: left;
	margin-right: 3px;
	display: none;
}

a.header_link:VISITED {
	text-decoration: none;
}

.header_item,.header_item_2 {
	float: left;
	height: 100%;
	padding: 0px 10px;
	border-right: 1px #252830 solid;
}

.header_item_2 {
	border: none;
}

#header_item_whl {
	width: 0px;
	padding: 0px;
	border: none;
	border-right: 1px solid #4a4c53;
}

#header_search_container{
	height: 50px;
	padding-top: 10px;
	margin: 0 auto;
	background-color: #393d47;
	background: -webkit-linear-gradient(bottom, #393d47 51%, #2b2e3a 100%);
	background: -moz-linear-gradient(bottom, #393d47 51%, #2b2e3a 100%);
	border-bottom: 1px solid #333;	
}

#header_search{
	width: 980px;
	margin: auto;
}

#header_search_block {
	display: inline-block;
	position: relative;
	top: 6px;
	width: 500px;
}

#search_block_main_search {
	position: relative;
}

input#search_input_what {
	padding: 5px;
	font-size: 14px;
	float: left;
	border-radius: 3px;
	width: inherit;
}

#search_button_search {
	float: right;
	width: 20px;
	height: 25px;
	position: relative;
	top: -25;
	padding: 0px 10px;
	background: url("/lib/images/search.png") no-repeat center;
}

#search_button_search:HOVER{
	cursor: pointer;
	background-color: #fafafa;
}

input#search_button_search:HOVER {
	border: 1px solid #a5c3f7;
	cursor: pointer;
	background-color: #fff;
}

#header_login{
	margin-top: 5px;
	float: right;
	color: white;
	text-align: right;
	margin-right: 20px;
	text-align: center;
}

input,textarea,select {
	padding: 6px;
	border: 1px solid #DDD;
	box-shadow: inset 0px 1px 3px 0px #f4f4f4;
	background: white;
}

input:HOVER,textarea:HOVER,select:HOVER {
	border: 1px solid #BBB;
}

input:FOCUS,textarea:FOCUS,select:FOCUS,select:ACTIVE {
	outline: none;
	border: 1px solid #a5c3f7;
	box-shadow: inset 0px 1px 3px 0px #DDD;
	box-shadow: 0px 0px 2px 0px #a5c3f7;
}





/* Header settings menu*/
#loged_user_menu {
	position: absolute;
	width: 300px;
	right: 0px;
	top: 45px;
}

#settings_has_notification{
	color: white;
	float: right;
	margin: 3px;
	font-weight: bold;
	font-size: smaller;
	position: relative;
	bottom: 8px;
	padding: 0px 4px;
	background-color: red;
	border-radius: 3px;
}

#header_user_menu a {
	text-decoration: none;
	color: #111;
}

#header_user_menu{
	padding: 10px 0px;
}

#header_user_menu {
	text-align: left;
}

.user_menu_divi{
	border-bottom: 1px solid #eee;
	width: 90%;
	margin: 7px auto;
}

.header_user_meun_item {
	width: 150px;
	font-size: 12px;
	line-height: 18px;
	padding: 1px 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.header_user_meun_item:HOVER {
	color: white;
	background-color: #51a351;
	border-top: 1px solid #387038;
	border-bottom: 1px solid #387038;
}

a.header_user_menu_link {
	text-decoration: none;
	font-size: 12px;
	color: #333;
}

a.header_user_menu_link:HOVER {
	color: black;
}

a.header_user_menu_link:VISITED {
	text-decoration: none;
}

.header_comms_count{
	float: right;
	font-weight: bold;
	color: #c00;
	font-size: smaller;
}







.bubble-left_wrapper {
	float: left;
	display: none;
	width: 0px;
	height: 0px;
	position: relative;
	z-index: 300;
}

.bubble-left,.bubble-down {
	color: #555;
	background-color: white;
	border: 1px solid #AAA;
	line-height: 20px;
	margin: 8px auto;
	position: relative;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1px 0px 6px 0px #CCC;
}

.bubble-down {
	box-shadow: 0px 2px 7px 0px #CCC;
	z-index: 300;
}

.bubble-left_arrow_border,.bubble-down_arrow_border {
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent #AAA transparent transparent;
	border-style: solid;
	border-width: 7px;
	top: 30%;
	left: -15px;
}

.bubble-down_arrow_border {
	border-color: transparent transparent #AAA transparent;
	left: 20%;
	top: -15px;
}

.bubble-left_arrow,.bubble-down_arrow {
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 7px;
	top: 30%;
	left: -14px;
}

.bubble-down_arrow {
	border-color: transparent transparent white transparent;
	left: 20%;
	top: -14px;
}

#about_faq {
	margin: 0px auto;
	width: 940px;
	line-height: 20px;
	background: white;
	border: 1px solid #DDD;
}

.about_question_box {
	margin: 22px;
}

.about_question_title {
	font-size: 15px;
	color: green;
	font-weight: bold;
}

#footer {
	text-align: center;
	height: 60px;
	background: #292d37;
	border-top: 1px solid #DDD;
	width: 100%;
	min-width: 1250px;
	margin-top: 10%;
}

#footer a {
	text-decoration: none;
	color: #dfdfdf;
}

#footer a:HOVER {
	color: #a5c3f7;
}

#footer_links {
	margin: 20px;
}

.footer_link {
	display: inline-block;
	margin-left: 30px;
}

#all_notice {
	max-width: 350px;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
}

.notice_ok {
	background: #c2ffbc;
	border: 1px solid #a8dda3;
}

.notice_fail {
	background: #ffe2e3;
	border: 1px solid #ffa3a5;
}

.all_notice_cross {
	float: right;
	position: relative;
	top: -8px;
	left: 5px;
	color: #777;
}

.notice_ok:HOVER {
	border: 1px solid #83ab7e;
	cursor: pointer;
}

.notice_fail:HOVER {
	border: 1px solid #ff6569;
	cursor: pointer;
}

.div_hidden {
	display: none;
}








/* Introductiontorent */

#intro_container {
	width: 240px;
	margin: 50px auto;
	background: white;
	padding: 40px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.intro_box{
	height: 80px;
}

.intro_step{
}

.intro_step a {
	font: inherit;
	text-decoration: none;
	color: #15c;
}

.intro_step a:HOVER {
	text-decoration: underline;
}

intro_num {
	font-size: 40px;
	margin-right: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}












.myitems_block {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	padding: 20px;
	background: white;
}

.myitems_active_title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#myitems_no_desc {
	margin-bottom: 10px;
	color: #777;
}

#myitems_active_button {
	float: left;
	margin-top: 5px;
}

.myitems_delete_call {
	float: right;
	border-radius: 3px;
	color: #f62e4a;
}

.myitems_delete_call:HOVER {
	cursor: pointer;
}

.myitems_editButton {
	float: right;
	margin-right: 20px;
}

.myitems_editButton a{
	color: white;
}

.myitems_editButton a:HOVER{
	color: black;	
}

#login_facebook_button {
	margin: 40px;
}

#feedback_call {
	position: fixed;
	top: 30%;
	width: 10px;
	height: 190px;
	text-align: center;
	padding: 7px;
	background: #018CBC;
	color: #f7f7f7;
	border: 1px solid #373737;
	border-left: none;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

#feedback_call:HOVER {
	padding-left: 10px;
	cursor: pointer;
}

.box_close {
	display: inline-block;
	float: right;
	padding: 2px 6px;
	font-weight: bold;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.box_close:HOVER {
	cursor: pointer;
	color: red;
	border: 1px solid #bbb;
}

#feedback_form{
	text-align: center;
}

#no_spam{
	text-align: left;
	font-size: 11px;
	color: #999;
	margin-left: 20px;
	font-style: italic;
}

#feedback_email {
	width: 90%;
	margin: 20px;
	margin-bottom: 0px;
}

#feedback_text {
	width: 90%;
	margin: 20px;
}

#feedback_send,#feedback_done {
	float: right;
	margin-right: 20px;
	font-weight: bold;
}

.button_green,input.button_green, input.profie_reply_send {
	color: white;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351) );
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button_green:HOVER,input.button_green:HOVER, .profie_reply_send:HOVER, input.button_green:FOCUS, .button_green:FOCUS {
	background: #4c9a4c;
	border-color: #444;
}

.button_green a{
	color: white;
}

ajaxbox {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 40%;
}


#ajax_block_wrapper {
	margin: 60px auto;
	padding: 20px;
	background: white;
	border: 10px solid #333;
	border-radius: 6px;
	display: inline-block;
}

#ajax_processing{
	text-align: center;
	font-size: medium;
	width: 200px;
	color: #007500;	
}

#login_block{
	margin: 60px auto;
	padding: 60px 20px;
	background: white;
	border: 10px solid #333;
	border-radius: 6px;
	width: 400px;
}

#login_notYet {
	text-align: center;
	color: #777;
}

#fb_login {
	width: 180px;
	height: 30px;
	border: 1px solid #ddd;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	border-radius: 3px;
}

#fb_login:HOVER{
	cursor: pointer;
	border: 1px solid #333;
}

input.login_input {
	width: 300px;
	padding: 12px;
	margin-bottom: 20px;
}

.login_label {
	color: #333;
	float: left;
	width: 60px;
	text-align: right;
	padding: 10px;
}

#login_button {
	float: right;
	margin-right: 20px;
}

#login_new_box {
	margin-left: 100px;
}

a#login_new_account {
	text-decoration: none;
	color: white;
}

.jslink {
	display: inline-block;
	color: #15c;
}

.jslink:HOVER {
	cursor: pointer;
	text-decoration: underline;
}

.response_fail,.response_ok {
	text-align: center;;
	font-size: 15px;
	font-weight: bold;
}

.response_ok {
	color: green;
}

.response_fail {
	color: red;
}

#rental_divide {
	width: 100%;
	border-top: 1px solid #ddd;
}

#rental_divide_shadow {
	width: 100%;
	border-top: 1px solid #fff;
	margin-bottom: 50px;
}

weak {
	font-weight: normal;
	color: #888;
}

.small_icon {
	float: left;
	margin-right: 6px;
	opacity: 0.5;
	width: 20px;
}

#rental_scores {
	width: 170px;
}

.item_categoty_level {
	display: inline-block;
	color: #15C;
}

.item_categoty_level:HOVER {
	cursor: pointer;
	text-decoration: underline;
}

.selectmenu_selected {
	padding: 10px;
	height: 15px;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: inset 0px 0px 2px 1px #ececed;
	color: #555;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 150px;
	display: inline-block;
}

.selectmenu_selected:HOVER {
	cursor: pointer;
	color: black;
	border: 1px solid #71b3e8;
	box-shadow: inset 0px 0px 2px 1px #DDD;
}

.selectmenu_column {
	float: left;
	max-height: 200px;
	overflow-y: scroll;
	width: 200px;
}

.selectmenu_option {
	padding: 5px;
}

.selectmenu_option:HOVER {
	cursor: pointer;
	background: #71b3e8;
	color: white;
}

#upgrade_top{
	width: 400px;
	margin: 30px auto;
	background: white;
	border: 1px #ddd solid;
	box-shadow: 0px 3px 6px 0px #eee;
	padding: 20px;
	color: #333;
	text-align: center;
}




































.ui-datepicker {
	width: 17em;
	padding: 10px;
	display: none;
	background: white;
	border: 1px solid gray;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	color: #888;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	cursor: pointer;
	color: black;
}

.ui-state-default{
	color: #555;
}

.ui-state-default:HOVER{
	color: black;
	background: #f7f7f7;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}