@CHARSET "UTF-8";

#item_imgs_thumbBlock{
	width: 220px;
	float: left;
}


img#thumbs_main_img{
	border: 1px solid #777;
	display: block;
	margin: 0px auto;
	max-width: 400px;
}

#item_imgs_mainBlock{
	max-width: 600px;
	margin-left: 200px;
	min-height: 320px;
}

img.item_imgs_thumb{
	display: inline-block;
	width: 90px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 6px 0px;
	border: 1px solid #ddd;
	box-shadow: 0px 3px 6px 0px #eee;
}

img.item_imgs_thumb:HOVER {
	cursor: pointer;
	border: 1px solid #777;
}