@CHARSET "ISO-8859-1";

#index_container{
	max-width: 980px;
	margin: 0px auto;
}

#index_top{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
}

a.index_top_link{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	padding: 20px;
	line-height: 35px;
}

.index_top_link a:HOVER{
	text-decoration: underline;
}

#index_top, #index_middle, #index_bottom{
	margin: 30px 0px;
}

#index_middle{
	border-top: 1px solid #dadada;
}

#index_bottom{
	border-top: 1px solid #dadada;
}

#index_cats{
	float: left;
	margin-top: 40px;
}

.index_section_title{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
	color: #c00;
}

/* Categories */
.index_filter{
	line-height: 20px;
}
.index_filter a{
	color: #777;
}

.index_filter a:HOVER{
	color: black;
}


/* Novedades middle index */

.index_rental_box{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 40px;
	width: 450px;
	height: 150px;
}

img.index_img{
	box-shadow: 0px 0px 15px 0px #72c172;
	border: 1px solid #ddd;
	height: 130px;
	width: 160px;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

img.index_img:HOVER{
	border-color: #ccc;	
}

.index_img_label{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 23px;
	max-width: 260px;
	float: left;
	color: #333;
}

.index_label_desc{
	margin-top: 5px;
	float: left;
	color: #555;
}

.index_img_box_category{
	float: left;
	max-width: 300px;
	margin-top: 10px;
}


/* Productos Destacados */

#index_awesome_container{
	padding: 10px;
	border: 1px solid #ddd;
	width: 750px;
	margin-top: 40px;
	margin-left: 210px;
	box-shadow: 0px 3px 6px 0px #eee;
	background-color: white;
}

#index_awesome_container{
	height: 440px;
}

#index_latest_container{
	margin-top: 10px;
}

#index_awesome{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	color: white;
	margin-bottom: 10px;
}

.index_item_box{
	float: left;
	width: 120px;
	height: 200px;
	margin-right: 65px;
	margin-bottom: 20px;
}

img.index_img_item{
	border: 1px solid #ddd;
	height: 90px;
	width: 120px;
	margin-bottom: 5px;
}

.index_price{
	margin-top: 5px;
	color: #999;
}

.index_img_item_label{
	color: #333;
}

.index_img_label:HOVER, .index_img_item_label:HOVER {
	text-decoration: underline;
}

#index_write{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
	color: #333;
}

#index_bottom_text{
	line-height: 20px;
	color: #555;
	width: 300px;
	float: left;
	margin-top: 15px;
	margin-left: 50px;
}

#index_bottom_form{
	display: inline-block;
	width: 510px;
	position: relative;
	top: -40px;
}

#index_feedback_send{
	position: relative;
	top: -60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #51a351;
	width: 100px;
	display: inline-block;
}

#index_feedback_send:HOVER {
	text-decoration: underline;
	cursor: pointer;
}



