@CHARSET "ISO-8859-1";

#item_wrapper {
	margin: 20px auto;
	max-width: 980px;
}

.item_block {
	border: 1px #ddd solid;
	box-shadow: 0px 3px 6px 0px #eee;
	margin: 10px 0px;
	padding: 20px;
	background: white;
}

.item_comment_input {
	margin-bottom: 10px;
}

#comments_types_box {
	margin: 10px 0px;
}

.comment_option_radio {
	float: left;
	margin-right: 10px;
}

#item_category_path {
	
}

.item_categoty_level_raw {
	display: inline-block;
}

.item_block_data {
	margin-bottom: 15px;
}

#item_description {
	display: inline-block;
}

#item_name {
	font-size: 30px;
	color: #555;
	font-weight: bold;
	line-height: 30px;
}

.item_input_price {
	font-size: 16px;
	color: #555;
}

#item_price_number {
	float: left;
	font-weight: bold;
	margin-right: 5px;
}

.item_block_title {
	color: #333;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 2px;
}

#item_block_owner {
}

#item_owner_name {
}

#item_show_users_comments {
	margin-top: 20px;
	color: #15c;
}

#item_show_users_comments:HOVER {
	cursor: pointer;
	color: #a5c3f7;
}

#item_user_info_sum {
	position: absolute;
}

.item_user_commentsCount {
	padding: 5px;
	border-bottom: 1px dotted #ddd;
	width: 220px;
	text-align: right;
}

.item_user_commentsCount_tab {
	padding-left: 50px;
}

.item_user_commentsCount_num {
	float: right;
	margin-left: 50px;
}

#item_block_map {
	position: relative;
	top: -20px;
	display: inline-block;
}

#item_owner_wrapper {
	margin-bottom: 30px;
	margin-top: 10px;
}

#item_question_makeForm_wrapper {
	border: 1px #F8F1F8 solid;
	border-radius: 4px;
	padding: 10px;
	height: 140px;
	width: 95%;
}

#item_owner_profileImg {
	float: left;
	padding: 5px;
	margin-right: 10px;
}

.item_owner_icon {
	float: left;
	padding-right: 2px;
}

.item_owner_data_text {
	float: left;
	padding-right: 10px;
}

.item_mores {
	display: inline-block;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 30px;
	height: 200px;
}

.item_mores_name {
	height: 40px;
	margin-top: 5px;
}

.item_mores img {
	width: 150px;
	height: 120px;
}

.item_mores_price {
	color: #555;
}


#item_reservation_disclaimer{
	margin-top: 20px;
	color: #777;
	line-height: 20px;	
}




