@CHARSET "ISO-8859-1";

#profile_wrapper{
	position: relative;
	margin: 50px auto;
	width: 820px;
	
	min-height: 300px;
}

#myitems_wrapper{
	position: relative;
	margin: 50px auto;
	width: 820px;
	
	min-height: 100%;
}

.profile_block{
	margin-bottom: 10px;
	background: white;
	border: 1px #ddd solid;
	border-bottom: 2px #ddd solid;
	width: 400px;
}

.profile_block_data{
	padding: 10px;
	border-top: 1px solid #eee;
}

.profile_box_title{
	font-weight: bold;
	font-size: 16px;
	margin: 20px 10px;
}

#profile_block_verif{
	float: right;
	width: 400px;
}

.profile_verif_status_fail{
	float: right;
	color: red;
}

.profile_verif_name{
	padding-bottom: 10px;
}

.profile_verif_status_ok{
	float: right;
	color: green;
}

.profile_conn_icon{
	float: left;
	margin-right: 10px;
}

label.profile_label {
	font-size: 11px;
	color: gray;
	margin-right: 5px;
}

.profile_buttons_panel{
	margin: 10px;
}

input.profile_button_save:HOVER, input.profile_button_save{
	padding: 0px;
	border: none;
	box-shadow: none;
}

input.profile_input{
	border: none;
	box-shadow: none;
	width: 250px;
}

.profile_button_save {
	background: transparent;
	border: none;
	color: gray;
	font-size: 12px;
	border: none;
	padding-right: 3px;
	float: right;
}

.profile_button_save:HOVER {
	color: black;
	cursor: pointer;
}

.profile_block_title{
	color: #333;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 1px #ddd solid;
}

.profile_item_row{
	text-decoration: none;
	min-height: 50px;
	padding: 15px 0px;
	border-top: 1px #F8F1F8 solid;
}

.profile_item_thum{
	float: left;
	width: 70px;
	height: 70px;
	padding: 2px;
	border: 1px #F8F1F8 solid;
	margin-right: 20px;
}

.profile_item_row_block1{
	float: left;
	color: #333;
	width: 50%;	
}

a.profile_item_row_name{
	font-size: small;
	text-decoration: none;
}

.profile_item_row_under{
	color: #555;
	font-size: 11px;
}

.profile_item_row_name:HOVER{
	text-decoration: underline;
}

.profile_item_row_price{
	float: left;	
	display: inline-block;
}

.profile_item_row_active{
	color: #555;
}




.profile_commentsToAnswer{
	margin-top: 100px;
	margin-bottom: 80px;
}


.profile_comment_box{
	padding: 10px;
	margin-bottom: 10px;
	
	border: 1px #F8F1F8 solid;
	border-radius: 4px;
	
	background-color: #f2f5fd;
	border-color: #dee5fd; 
}

.profile_comment_bubble{
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 3px;
}

#reservations_history{
	text-align: center;
	padding: 10px;
	background: white;
	border: 1px solid #eee;
	font-size: medium;
	border-bottom: none;	
}

.profile_reply{
	margin-top: 10px;
	width: 80%;
	height: 80px;
}


.profie_reply_send {
	float: right;
	margin-top: 10px;
}


.reservation_box{
	padding: 30px 10px;
	border-top: 1px solid #eee;
	margin: 10px 0px;
	line-height: 20px;
}


.reservations_date{
	color: #555;
	font-size: small;
	margin-top: 10px;
}

.reservations_seeclient{
	float:right;
	margin-right: 20px;
}

.reservations_seeclient a{
	color: #888;
}

.reservations_seeclient a:HOVER {
	color: black;
}

.reservation_price{
	padding: 10px;
	margin-left: 95px;
	border: 1px solid #ddd;
	line-height: 20px;
}

.reservation_button_pay{
	position: relative;
	float: right;
	top: -10px;
}

.reservation_img{
	float: left;
	width: 95px;
	height: 200px;
}

.reservation_img img{
	width: 80px;
	height: 60px;
	padding: 2px;
	border: 1px solid #eee; 
}

.reservation_img p{
	padding: 2px;
	width: 80px;
	color: #333;
	font-style: italic;
}

