@CHARSET "UTF-8";

.item_comment_container{
	border-bottom: 1px #ccc dotted;
	padding: 20px;
}

.item_comment_box{
	padding-bottom: 10px;
}

.item_comment_response_box{
	color: #333;
	padding: 5px;
	padding-left: 30px;
	margin-top: 30px;
}

img.question_bubble{
	float: left;
	width: 15px;
	height: 15px;
	padding-right: 7px;	
}

#item_question_questionArea{
	width: 100%;
	height: 80px;
}

#item_question_showMoreQuestions{
	padding-bottom: 20px;	
	margin-top: 30px;
}



.item_feedback_rentee {
	padding-bottom: 30px;
}

.item_feedback_rentee_data{
	color: gray;
}

.item_feedback_rentee_date {
	padding-right: 3px;
	float: left;
}

img.item_feedback_rentee_scoreImg {
	position: relative;
	left: -6px;
}

.item_feedback_box {
	border-bottom: 1px #DDD dotted;
	padding-bottom: 10px;
	padding-top: 20px;
}

#item_feedback_showMoreFeedbacks {
	margin-top: 30px;
}
