@CHARSET "ISO-8859-1";

#results_filters_contain{
	max-width: 980px;
	margin: 20px auto;
}

#results_filters_container{
	width: 250px;
	float: left;
}

#resutls_list_container {
	width: 710px;
	min-height: 100%;
	margin-left: 270px;
}

.result_block {
	background: white;
	border: 1px solid #ddd;
	border-bottom: none;
	height: 90px;
	padding: 20px 0px;
}

img.result_block_img {
	float: left;
	width: 110px;
	height: 95px;
	margin: 0px 10px;
}

.result_block_main_data{
	max-width: 85%;
}

.result_block_main_data:HOVER{
	text-decoration: underline;
}

a.result_block_title, a.map_title {
	font-size: 16px;
}

.map_price_num{
	margin-top: 10px;
	font-size: 14px;
	color: #c00;
	font-weight: bold;
}

.map_price_text{
	color: #555;
}

a.map_title:HOVER{
	text-decoration: underline;
}

.result_block_shortDesc {
	margin-left: 10px;
	color: #444;
	font-size: small;
	max-width: 90%;
}

.result_block_price {
	margin-right: 15px;
	max-width: 100px;
	overflow: hidden;
	float: right;
	text-align: right;
}

.result_block_price_price {
	font-size: 22px;
	color: #c00;
	font-weight: bold;
}

.result_block_price_label {
	color: #999;
	font-size: 11px;
}

.result_block_references {
	color: #665;
	margin: 7px 0px; 
	margin-left: 10px;
}

.result_block_references_label {
	color: #888;
	font-size: small;
	margin: 5px 0px;
}

.result_block_references_count {
	font-size: smaller;
	float: left;
	text-align: center;
	padding: 0px 5px;
	margin-right: 5px;
	background: #c5f89c;
	border: 1px solid #9bbf43;
	border-radius: 2px;
}












#result_pager{
	text-align: center;
}

.result_pager_box{
	display: inline-block;
	margin: 15px 5px;
	padding: 3px 8px;
	border: 1px solid #EEE;
	border-radius: 4px;
	background: white;
}

.result_pager_box:HOVER{
	background: white;
}

.result_pager_box a{
	color: #3a7ec1;
	text-decoration: none;
}

.result_pager_box:HOVER a{
	color: #333;
}


#results_sep_rental{
	border-top: 1px solid #ddd;
	padding: 5px 0px;	
}








#results_no_results_message {
	margin: 30px;
	text-align: center;
	min-height: 100%;
	color: orange;
	font-size: 20px;
	font-weight: bold;
}


