@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 13px
}

a img {
	border: none;
}

#header_logo{
	border-right: 1px #252830 solid;
	height: 100%;
	float: left;
}

#header_logo a{
	float: left;
	color: white;
	text-decoration: none;
	
	position: relative;
	left: 30px;
	top: 10px;	
	
	padding-right: 50px;
	font-weight: bold;
}

#header_logo a:HOVER{
	color: #a5c3f7;
}

.general_link_small {
	display: inline-block;
	color: #12C;
}

.general_link_small:HOVER {
	cursor: pointer;
	text-decoration: underline;
}

#header{
	height: 40px;
	margin: 0px;
	
	min-width: 880px;
	
	background-color: #393d47;
	background: -webkit-linear-gradient(bottom, #393d47 51%, #2b2e3a 100%);
	background: -moz-linear-gradient(bottom, #393d47 51%, #2b2e3a 100%);
	
	border-bottom: 1px solid #d0d0d0;
}

#header_links{
	float: right;
	margin-right: 10px;
}


a.header_link, div#header_user_name{
	text-decoration: none;
	
	color: #d7d7d7;
	font-size: 11px;
	
	font-weight: bold;
	
	position: relative;
	top: 13px;

	text-align: center;
}

a.header_link:HOVER, div#header_user_name:HOVER{
	cursor: pointer;
	color: #a5c3f7; 		
}

img#header_user_img{
	float: left;
	width: 20px;
	height: 20px;
	
	position: relative;
	top: -5px;
	
	margin-right: 5px;
}
	

a.header_link:VISITED{
	text-decoration: none;		
}

.header_item, .header_item_2{
	float: left;
	
	border-right: 1px #252830 solid;
	height: 100%;
	padding: 0px 15px;
}

.header_item_2{
	border: none;
}

#header_item_whl{
	width: 0px;
	padding: 0px;
	border: none;
	
	border-right: 1px solid #4a4c53;	
}

#header_link_home{
	top: 12px;
	font-size: 20px;
	color: #ea1e1e;
	size: 1px;
	
	font-weight: bold;
	
	font-family: sans-serif;
}

#header_link_home:HOVER{
	color: #a5c3f7;
}




#header_search_block{
	float: left;
	width: 500px;
	position: relative;
	top: 5px;
	
	margin-left: 70px;
}

#search_block_main_search{
	position: relative;
}

input#search_input_what{
	width: 400px;
	padding: 5px;
	font-size: 14px;
	float: left;
	
	background: #F1F1F1;
	border-radius: 3px;
}

input#search_input_what:HOVER{
	background: #F7F7F7;
}

input#search_input_what:FOCUS{
	background: #FFF;
}

input#search_button_search{
	float: left;
	position: relative;
	left: -40px;
	width: 40px;
	height: 28px;
	
	background: url("/lib/images/search.png") no-repeat center;
	
	background-color: #f1f1f1;
}

input#search_button_search:HOVER{
	border: 1px solid #a5c3f7;
	cursor: pointer;
	background-color: #fff;
}






input, textarea, select {
	padding: 6px;
	border: 1px solid #DDD;
	box-shadow: inset 0px 1px 3px 0px #f4f4f4;
	background: white;
}

input:HOVER, textarea:HOVER, select:HOVER{
	border: 1px solid #BBB;
}

input:FOCUS, textarea:FOCUS, select:FOCUS, select:ACTIVE{
	outline: none;
	border: 1px solid #a5c3f7;
	box-shadow: inset 0px 1px 3px 0px #DDD;
	box-shadow: 0px 0px 2px 0px #a5c3f7;
}


.trian_down{
	position: relative;
	display: inline-block;
	font-size: 8px;
	margin-left: 10px;
	top: -2px;
}

#header_account{
	padding-left: 15px;
}


a.header_user_menu_link{
	text-decoration: none;
	font-size: 12px;	
	color: #333;
}

a.header_user_menu_link:HOVER {
	color: black;
}

a.header_user_menu_link:VISITED {
	text-decoration: none;
}












.white_container{
	width: 70%;
	margin: 20 auto;
	background: white;
	border: 1px solid #ddd;
	padding: 30px;
}






.bubble-left_wrapper{
	float: left;
	display: none;
	width: 0px;
	height: 0px;
	position: relative;
	z-index: 300;
}

.bubble-left, .bubble-down {
	color: #555;
	background-color: white;
	border: 1px solid #AAA;
	line-height: 20px;
	margin: 0px auto;
	position: relative;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1px 0px 6px 0px #CCC;
}

.bubble-down{
	box-shadow: 0px 2px 7px 0px #CCC;
}


.bubble-left_arrow_border, .bubble-down_arrow_border {
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent #AAA transparent transparent;
	border-style: solid;
	border-width: 7px;
	
	top: 30%;
	left: -15px;
}

.bubble-down_arrow_border {
	border-color: transparent transparent #AAA transparent;
	left: 20%;
	top: -15px;
}

.bubble-left_arrow, .bubble-down_arrow  {
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 7px;
	top: 30%;
	left: -14px;
}


.bubble-down_arrow {
	border-color: transparent transparent white transparent;
	
	left: 20%;
	top: -14px;
}

.aslkd{
	font-size: 15px;
	color: #517718;
}


#header_rentYoursButton{
	margin-top: 6px;
	margin-left: 60px;
	padding: 6px;
}





.button_green {
	color: #f7f7f7;
	background: #2b60b5;
	border-radius: 2px;
	border: 1px solid #204786;
	font-weight: bold;
	box-shadow: inset 0px 1px 2px 0px #3371d6;
	
	display: inline-block;
}

.button_green:HOVER {
	cursor: pointer;
	background: #307efe;
	border: 1px solid #1874bd;
	box-shadow: inset 0px 1px 2px 0px #e3e3ed;
}

.button_green_text{
	font-size: 11px;
	color: #FbFbFb;
	text-decoration: none;	
}















#footer{
	height: 80px;
	background: #292d37;
	border-top: 1px solid #DDD;
	
	width: 100%;
	margin-top: 200px;
}

#footer a{
	text-decoration: none;
	color: #d7d7d7;
}

#footer a:HOVER{
	color: #a5c3f7;
}

#footer_links{
	float: right;
	margin-right: 50px;
	margin-top: 30px;
	
}

.footer_link{
	display: inline-block;
	margin-left: 30px;
}













#all_notice{
	max-width: 300px;
	margin: 20px auto;
	
	text-align: center;
	padding: 10px;
	
	border-radius: 3px;
}

.notice_ok{
	background: #c2ffbc;
	border: 1px solid #a8dda3;		
}


.all_notice_cross{
	float: right;
	position: relative;
	top: -8px;
	left: 5px;	
	color: #777;
}

#all_notice:HOVER {
	border: 1px solid #83ab7e;
	cursor: pointer;
}


body{
	background: #f1f1f1;
}




.div_hidden{
	display: none;
}



form#uprental_form{
	width: 680px;
	margin: 50px auto;	
	background: white;
	padding: 20px;
	border: 1px solid #ddd;
}


form#uprental_form input{
	width: 300px;
	margin-bottom: 10px;
}

form#uprental_form label{
	display: inline-block;
	width: 100px;
	color: #777;
}



.pendingRental_row{
	margin-bottom: 30px;
	border-bottom: 1px solid #f7f7f7;
	padding: 10px;
	line-height: 20px;
}

.pendingRental_name{
	font-weight: bold;
}


