@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	font-size: 13px
}


textarea#input_query{
	padding: 5px;
	font-size: 14px;
}

#query_box{
	width: 900px;
	margin: 20px;
}

#button_query{
	float: right;
	padding: 10px 20px;
}

#bo_query_count{
	margin: 60px;
	text-align: center;
}

#bo_query_resutls{
}


.bo_query_row{
	float: left;
	border-bottom: 1px solid #ddd;
	
	width: 5000px;
}

.bo_query_title{
	display: inline-block;
	width: 200px;
	padding: 10px;
	font-weight: bold;
}

.bo_query_data{
	float: left;
	width: 200px;
	height: 50px;
	padding: 10px;
	
	overflow: auto;
}

















